<plugin name='i18n-gettext' version='0.5'>
  <author>Rainer Brang, Backend-Server GmbH &amp; Co. KG</author>
  <authorEmail>grails@backend-server.de</authorEmail>
  <title>I18n gettext plugin for grails</title>
  <documentation>http://www.grails.org/I18n-gettext+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>I18nGettextTagLib</resource>
  </resources>
  <dependencies />
</plugin>